body {
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
}
.container{
	max-width: 1200px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myTab {
	width: 14%; 
	justify-content: center;
	text-decoration: unset;
}
.center {
	justify-content: center;
	align-items:center;
 	text-align:center;
	vertical-align: middle;
}
.iframe{
  /*width: 100vw;*/
  height: calc(100vw/3);
}
.type1{
	margin-top: 35px;
	font-size: 17px;
	font-family: monospace;
}
.type2{
	border: solid 1px;
	padding: 2px;
	margin-right: 17px;
	font-family: monospace;
}
.type3{
	border: solid 1px;
	padding: 2px;
	margin-left: 10px;
	font-family: monospace;
}
.logo{
	position: relative;
}
.image1{
	margin-top: 25px;
}
.bg_menu{
	background-color: black;
	padding: 10px 0;
	color: white;
	font-size: 24px;
	flex-direction: row;
	text-align: center;
	font-family: monospace;
	flex-direction: row;
}
.type5{
	padding: 10px;
	font-size: 24px;
	color: white;
	display: inline-flex;
	flex-wrap: wrap;
}
.hov{	
	padding-bottom: 5px;
	border-bottom: 1px solid transparent;
	transition: all 0.4s;
	flex-wrap: wrap;
}
.hov:hover{
	border-bottom: 2px solid yellow;
	color: red;
}
.hov:target{
	border-bottom: 2px solid yellow;
	color: red;
}
.txt{
	margin:0px 10px;
	color: grey;
	text-align:left;
	font-size: 15px;
	font-family: Arial;
}
.txt2{
	color: yellow;
	font-size: 20px;
	padding: 10px;
}
.txt3{
	color: white;
	font-size: 15px;
	padding: 10px;
}
.txt4{
	color: white;
	margin-bottom: 15px;
}
.type6{
	font-size: 35px;
	font-family: Calibri;
}
.type7{
	font-size: 25px;
	font-family: Calibri;
}
.type8{
	font-size: 17px;
	font-family: Calibri;
}
.type9{
	font-size: 20px;
	font-family: Calibri;
}
.type9{
	padding-top: 50px;
}
.bg3{
	background-image: url("images/img9.jpg");
	height: 490px;
	width: 100%;
}
.bg4{
	padding-top: 50px;
}
.ads {
	margin-right: 50px;
}
.type14{
	padding-top: 28px;
	padding-right: 40px;
	padding-bottom: 25px;
}
.type15{
	text-align: center;
	padding-bottom: 35px;
	padding-top: 20px; 
	padding-right: 40px;
	padding-left: 40px;
}
.type16{
	padding-top: 10px; 
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 35px;
}
.bg{
	border-right: solid 1px; 
	height: 250px;
}
.image{
	margin-left: 10px;
	margin-right: 10px;
}
.row {
	width: 700px;
	font-size: 15px;
}
.vien{
	border-right: solid 1px;
}
@media(max-width: 480px){
	.bg{ 
		border:none;
	}
	.type1{
		margin-left: auto;
	}
	.image1{
		margin-right: auto;
	}
	.form{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 40%;
		margin-left:30%;
		margin-right:30%;
	}
	.bg4{
		font-size: 15px;
	}
	.type14{
		padding-top: 30px;
		padding-bottom: 5px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	.type15{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.type16{
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.image{
		margin-left: 2px;margin-right: 2px;
	}
}

.iframely-embed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: white;
}

.loader-wrapper {
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: white;
  position: absolute;
  height:100vh;
  width: 100vw;
}

.title {
  grid-column: 1/-1;
  grid-row: 1;
  padding-left: 10%;
  font-family: "Prata", serif;
  font-size: 5vw;
  z-index: 2;
  width: 65%;
  color:  black;
}
.title > .title-inner {
  display: inline-block;
}

@-webkit-keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes text-clip {
  from {
    -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}
@keyframes outer-left {
  from {
    transform: translateX(50%);
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}
@keyframes inner-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: none;
  }
}
.adj,
.hanoi {
  -webkit-animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: outer-left 1s 1s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title-inner {
  display: inline-block;
  -webkit-animation: inner-left 1s 1s ease both;
          animation: inner-left 1s 1s ease both;
}

.adj-inner {
  display: inline-block;
  -webkit-animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: inner-left 1s 1s ease both, text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.hanoi-inner {
  -webkit-animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
          animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.title {
  -webkit-animation: outer-left 1s 1s ease both;
          animation: outer-left 1s 1s ease both;
}

.adj > .adj-inner {
  display: inline-block;
}

.hanoi {
  display: inline-block;
}

.image {
  grid-row: 1;
  grid-column: 2;
  opacity: 1;
  -webkit-animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
          animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
@-webkit-keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes image-in {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.image img {
  display: block;
  width: 100%;
  height: 60%;
  background-color: red;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: width 2s;
}

#topBtn:hover {
  background-color: black;
 	font-size: 20px;
}